.header{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;

}

.headerbuttons{
  background-color: teal;
  border-radius: 15px;
  margin-right:10%;
  width: 100px;
  color: white;
 font-size: 15px;
 border-color: teal;

}

.button{
  display: flex;
  flex-direction: row;
  
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: 40px;
  size: 35px;
}

.input1{
  font-size: 20px;
}

.middlelogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
.mid{
  width: 27%;
}

.footer{
  background-color: teal;
   

}

.link{
  background-color: teal;
  height:350px;
  color:white;
  display:flex;
  flex-direction: column; 

}

a{
  margin-top: 10px;
  margin-left: 100px;

}